body {
    width: 100vh;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vh;
}
.lotto {
    width: 300px;
    height: 150px;
    background-color: red;
    color: white;
    font-size: 50px;
    font-weight: 600;
    border-radius: 15px;
    text-align: center;

    text-decoration: none;

}
.lotto:hover {
    width: 300px;
    height: 150px;
    background-color: aqua;
    color: white;
    font-size: 100px;
    font-weight: 600;
}


.image_container{
    display: flex;
}
.award{
    display: flex;
    width:100px;
    height: 100px;
}