<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계성 로또</title>
</head>
<body>
    <p>학번을 입력하고 뽑기를 누르시면 상품을 드립니다!!</p>
    <form action="/lottery/chose" method="post">
        <input class="input_number" name="input_number" type="text" required minlength="5" maxlength="5" placeholder="학번"/>
        <button class="lotto_btn">뽑기!!</button>
    </form>
    
</body>
</html>